.product-list .table-container {
  overflow-x: auto;
}

.table-container {
  max-height: 78vh;
  overflow-y: auto;
  scrollbar-width: none;
  margin-bottom: 20px;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.product-list .table {
  width: 100%;
  min-width: 800px;
}

.product-list .table img.prod-img {
  width: 80px;
  height: 90px;
  object-fit: contain;
  object-position: center;
}

.pagination-div {
  position: absolute;
  bottom: 0px;
}

/*  */
.table thead {
  border-radius: 50px !important;
}
.table thead th {
  background-color: rgba(0, 21, 41); /* Lighter glass shade */
  color: white;
  padding: 10px;
}

.search-icon {
  width: 25px;
  height: 25px;
}
@media (max-width: 576px) {
  .product-list .table {
    min-width: 100%;
  }

  .product-list .table img.prod-img {
    max-width: 80px;
  }

  .product-list .pagination-div {
    justify-content: center;
  }

  .product-list .table td,
  .product-list .table th {
    white-space: nowrap;
  }
}

@media (max-width: 628px) {
  .table-container {
    height: 70%;
  }
  .product-list .table img.prod-img {
    width: 50px;
    height: 70px;
    object-fit: contain;
    object-position: center;
  }
}
@media (max-width: 483px) {
  .search-input {
    width: 240px !important  ;
  }
}

/* @media (max-width: 875px) {
  .product-list .table {
    font-size: 15px;
  }
} */
.table-body {
  background-color: aliceblue !important;
}
.table-row:hover {
  background-color: aliceblue !important;
  cursor: pointer;
}
